<div class="m-accordion{{#if modifier}} m-accordion--{{modifier}}{{/if}}" data-t-name="Accordion"
     data-m-accordion-id="{{id}}">
	{{#each items}}
	<a class="m-accordion__section js-m-accordion__section{{#if open}} state-open{{/if}}" href="javascript:;"
	   data-m-accordion-section-id="{{id}}">
		{{#if open}}
		{{component name='icon-animation' template='iconanimation-cross' data='iconanimation-accordion-reverse'}}
		{{else}}
		{{component name='icon-animation' template='iconanimation-cross' data='iconanimation-accordion'}}
		{{/if}}
		<span class="m-accordion__title">{{title}}</span>
	</a>
	<div class="m-accordion__content js-m-accordion__content{{#if open}} state-open{{/if}}">
		{{placeholder key="accordion" indexprop="id" nid=../nid }}
	</div>
	{{/each}}
</div>
