<style>
	h1 {
		font: italic small-caps bold 1.2rem Georgia;
		padding: 1rem 2rem 0;
	}
</style>

<div class="container">
	<h1>Example</h1>
	{{pattern 'Example'}}
	{{component 'Example' 'example-blue'}}
	{{pattern 'Example' 'example-blue' name='NavMain' data='example'}}

	<h1>Example Tests</h1>
	{{pattern 'Example' 'example' data='example-blue'}}
	{{pattern name='Example' template='example2'}}
	{{pattern name='Example' data='example-blue' template='example'}}
	{{pattern name='Example' data='example-blue' template='example2'}}
	{{pattern name='Example' data='example' template='example2'}}

	<h1>NavMain ...</h1>
	{{pattern 'NavMain'}}
	{{pattern 'NavMain' 'navmain-dec'}}
	{{pattern 'NavMain' data='navmain-dec' template='navmain2'}}
	{{pattern 'nav-mains'}}
	{{pattern 'nav-mains' template='nav-mains2'}}
	{{pattern 'Nav Mai'}}

	<h1>Fehlerfälle</h1>
	{{pattern 'Example' 'example-blue' name='Example' data='example' template='XXX'}}
	{{pattern 'Example' template='other-example'}}
	{{pattern 'subelement'}}

	<h1>Placeholder</h1>
	{{placeholder 'content' 'xample'}}
	{{placeholder 'content' template='xample'}}
	{{placeholder name='content' template='xample'}}
	{{#each accordion}}
		{{placeholder 'accordion' template}}
	{{/each}}
	{{#each accordion}}
		{{placeholder 'accordion' template=template}}
		{{placeholder name='accordion' template=template}}
	{{/each}}

	<h1>Data as attributes</h1>
	{{pattern 'button'}}
	{{pattern name='button' disabled=true text='special button'}}
	{{pattern name='box'}}
	{{pattern 'box' modifier='dark'}}

	<h1>Transclusion</h1>
	{{#pattern 'button'}}My Text{{/pattern}}
	{{#component name='box'}}Mein <strong>Markup</strong>{{/component}}
	{{#pattern 'box'}}
		This box is filled with Text<br />
		{{#pattern 'button'}}Send{{/pattern}}
		{{#pattern 'button' disabled=true}}Reset{{/pattern}}
	{{/pattern}}
</div>
