<script src="/assets/js/vendor{{#if _nitro.minified}}.min{{/if}}.js"></script>
<script src="/assets/js/app{{#if _nitro.minified}}.min{{/if}}.js"></script>

<script>
	$(document).ready(function () {
		var application = new T.Application();
		application.registerModules();
		application.start();
	});
</script>
<script src="/proto/js/prototype.js"></script>
<p>{{_nitro.pageTitle}} = pageTitle (view)</p>

{{#if _nitro.offline}}
<script src="static/khan.github.io/tota11y/tota11y/build/tota11y.min.js"></script>
{{else}}
<script src="https://khan.github.io/tota11y/tota11y/build/tota11y.min.js"></script>
{{/if}}
